html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

header {
  background-image: url('../../resources/images/the-flatiron-building.png');
}


footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

#designed-in-ny h3 {
  color: white;
  background-image: url('../../resources/images/the-flatiron-building.png');
}
